html,*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#main{
    width:600px;
    height:500px;
    background-color: rgb(139, 135, 135);
    display:flex;
    flex-direction: column;
}
#a{
    width:600px;
    height:80px;
    padding: auto;
    margin-bottom:10px;
    background-color: rgb(85, 82, 82);
}
#b{
    width:600px;
    height:40px;
    padding: auto;
    margin-bottom:10px;
    background-color: rgb(85, 82, 82);
}
#c{
    width:600px;
    height:120px;
    padding: auto;
    margin-bottom:10px;
    background-color: rgb(85, 82, 82);
}
#d{
    display: flex;
}
#d1{
    width:295px;
    height:160px;
    padding: auto;
    margin-bottom:10px;
    margin-right: 10px;
    background-color: rgb(85, 82, 82);
}
#d2{
    width:295px;
    height:160px;
    padding: auto;
    margin-bottom:10px;
    background-color: rgb(85, 82, 82);
}
#e{
    width:600px;
    height:80px;
    padding: auto;
    background-color: rgb(85, 82, 82);
}