/*<div id="main">
        <div id="a"></div>
        <div id="b">
            <div class="b1"></div>
            <div class="b1">
                <div class="b11"></div>
                <div class="b11"></div>
            </div>
        </div>
        <div id="c"></div>
    </div>*/
html,*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#main{
    width:300px;
    height:auto;
    background-color: rgb(255, 255, 255);
    padding: auto;
    display:flex;
    flex-direction: column;
}
#a{
    width:300px;
    height:50px;
    background-color: rgb(140, 177, 177);
    padding: auto;
    margin-bottom:10px;
}
#b{
    width:300px;
    height:150px;
    background-color: rgb(255, 255, 255);
    padding: auto;
    margin-bottom:10px;
    display: flex;
}
.b1{
    width:150px;
    height:150px;
    background-color: white;
}
.b1:nth-child(2){
    background-color: rgb(140, 177, 177);
    direction: flex;
    flex-direction: column;
    margin-left:10px;
    background-color:rgb(255, 255, 255) ;
}
.b11{
    width:150px;
    height:40px;
    background-color:rgb(140, 177, 177);
}
.b11:nth-child(2){
    margin-top: 10px;
    height:100px;
}    
#c{
    width:300px;
    height:50px;
    background-color: rgb(140, 177, 177);
    padding: auto;


}   
