/*<div id="main">
        <div id="a"></div>  50
        <div id="b"></div>  100
        <div id="c"></div>  80
        <div id="d">        200
            <div id="d1"></div>
            <div id="d2"></div>
            <div id="d3"></div>
        </div>
        <div id="e"></div>   50
    </div>
*/
html,*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
#main{
    width:300px;
    height:auto;
    padding:auto;
    background-color: grey;
    display: flex;
    flex-direction: column;
}
#a{
    width:300px;
    height:30px;
    margin-bottom: 5px;
    background-color: rgb(19, 51, 51);
}
#b{
    width:300px;
    height:60px;
    margin-bottom: 5px;
    background-color: rgb(19, 51, 51);
}
#c{
    width:300px;
    height:50px;
    margin-bottom: 5px;
    background-color: rgb(19, 51, 51);
}
#d{
    width:300px;
    height:100px;
    margin-bottom: 5px;
    display: flex;
}
.d1{
    width:100px;
    height:100px;
    background-color:rgb(19, 51, 51) ;
}
.d1:nth-child(2){
    margin-right:10px;
    margin-left:10px;
}
#e{
    width:300px;
    height:50px;
    margin-bottom: 5px;
    background-color: rgb(19, 51, 51);
}
